@import "tailwindcss";

:root{
	--bg-gradient-start: #08111B;
	--bg-gradient-end: #0F1A28;
	--primary: #81367D;
	--secondary: #2FA6AC;
	--accent: #3469A9;
	--text-light: #D8E4F3;
}

html,body,#root{
	height:100%;
}

body{
	font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background: linear-gradient(180deg, var(--bg-gradient-start), var(--bg-gradient-end));
	color: var(--text-light);
}

.app-container{
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}

.card {
	@apply rounded-2xl shadow p-6;
	background-color: rgba(129, 54, 125, 0.1);
	border: 1px solid rgba(129, 54, 125, 0.3);
}
